<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="snippets.html :: header"></div>
  <body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="main">
      <h2>ORDERS</h2>
      <br />
      <div class="btn btn-primary" id="showCreateModal">
        <i class="fa-solid fa-plus"></i> Create Order
      </div>
      <hr />
      <table class="table table-striped" id="main-table">
        <thead>
          <tr>
            <th scope="col">Order No</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Time</th>
            <th class="col-md-4" scope="col">Action(s)</th>
          </tr>
        </thead>
        <tbody id="tablebody2"></tbody>
      </table>
    </div>

    <!-- Create Modal -->
    <div
      class="modal fade"
      id="createModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
    >
      <div class="modal-dialog" style="max-width: 900px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Order</h5>
          </div>
          <div class="modal-body">
            <form action="javascript:addProduct()">
              <div class="form-group mb-3">
                <label for="barcode">Barcode </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Barcode"
                  name="barcode"
                  id="barcode"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="quantity">Quantity </label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter Quantity"
                  name="quantity"
                  id="quantity"
                  min="1"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="price">Price</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter Price"
                  name="price"
                  id="price"
                  min="0"
                  step=".01"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
            <hr />
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3" scope="col">Barcode</th>
                  <th class="col-md-3" scope="col">Quantity</th>
                  <th class="col-md-2" scope="col">Price</th>
                  <th class="col-md-4" scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="tablebody"></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary ms-4"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-primary ms-4"
              onclick="createOrder()"
            >
              Create Order
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Modal end -->

    <!-- Details Modal -->
    <div
      class="modal fade"
      id="detailModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
    >
      <div class="modal-dialog" style="max-width: 900px">
        <div class="modal-content text-large">
          <div class="modal-header">
            <h5 class="modal-title">Order Details</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h5 id="orderid"></h5>
            <br />
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Barcode</th>
                  <th scope="col">Name</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Category</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Selling Price</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody id="details-table"></tbody>
            </table>
            <br />
            <div id="total-items"></div>
            <div id="total-bill"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary ms-4"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Details Modal end -->

    <div th:replace="snippets.html :: footer"></div>
    <script th:src="@{/static/order.js}"></script>

    <script>
      $(document).ready(function () {
        setCurrent("order");
        initOrders();
      });
    </script>
  </body>
</html>
